:root {
    --ff-primary: 'Urbanist', sans-serif;
    --link-color: #676767;
}

@font-face {
    font-family: var(--ff-primary);
    src: url(../fonts/urbanist_regular.ttf);
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.main-container {
    margin: 15px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

body {
    font-family: var(--ff-primary);
    font-size: 2rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 0.1em 0.1em 0.4em 0;
}

.logo img {
    display: flex;
    width: 1.3em;
    height: auto;
    align-items: center;
}

.navigation__links {
    display: flex;
    list-style: none;
}

.navigation__links a {
    font-size: 1.5rem;
    padding-left: 1em;
    align-items: center;
}

.name {
    padding: 0.4em 0;
    font-size: 6.1rem;
    line-height: 1;
}

.description {
    padding: 5% 5% 10% 0;
    line-height: 1.05;
    font-size: 2.5rem;
}

.links {
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-bottom: 1em;
}

.links a {
    border-style: solid;
    border-width: 1px;
    padding: 0.2em 1.5em;
}