:root {
    --ff-primary: 'Urbanist', sans-serif;
    --link-color: #676767;
}

@font-face {
    font-family: var(--ff-primary);
    src: url(../fonts/urbanist_regular.ttf);
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.main-container {
    margin: 15px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

body {
    font-family: var(--ff-primary);
    font-size: 2rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 0.1em 0.1em 0.4em 0;
}

.logo img {
    display: flex;
    width: 1.3em;
    height: auto;
    align-items: center;
}

.navigation__links {
    display: flex;
    list-style: none;
}

.navigation__links a {
    font-size: 1.5rem;
    padding-left: 1em;
    align-items: center;
}

.name {
    padding: 0.4em 0;
    font-size: 6.1rem;
    line-height: 1;
}

.description {
    padding: 5% 5% 10% 0;
    line-height: 1.05;
    font-size: 2.5rem;
}

.links {
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-bottom: 1em;
}

.links a {
    border-style: solid;
    border-width: 1px;
    padding: 0.2em 1.5em;
}

/* If screen width is at least 700px, run these css */
@media (min-width: 600px) {
    .main-container {
        margin: 1.5em 3em 0.75em 3em;
    }

    .name {
        padding: 0.6em 0em;
        font-size: 8rem;
    }

    .description {
        padding: 0% 25% 10% 0;
        font-size: 3.8rem;
    }

    .links {
        margin: 0px 0px 1.5em 0px;        
        display:flex;
        justify-content: left;
    }
}

/* If screen width is at least 800px, run these css */
@media (min-width: 800px) {
    .name {
        font-size: 10rem;
    }

    .description {
        padding: 0% 15% 10% 0%;
        font-size: 4rem;
    }

    .navigation__links a {
        font-size: 1.7rem;
        padding-left: 3.2em;
    }

    .logo img {
        width: 1.5em;
    }
}

/* If screen width is at least 1024px, run these css */
@media (min-width: 1024px) {
    .name {
        font-size: 14rem;
    }

    .description {
        padding: 0% 15% 10% 0%;
        font-size: 5.5rem;
    }

    .navigation__links a {
        font-size: 2rem;
        padding-left: 4.5em;
    }

    .logo img {
        width: 2.5em;
    }

    .navigation__links li {
        display: flex;
        align-items: center
    }

    .description {
        padding-bottom: 7%;
    }

    .links {
        margin: 0px 0px 1.5em 0px;        
        display:flex;
        justify-content: left;
        align-items: center;
        font-size: 4rem;
        gap: 5%;
    }
}